In [1]:
import pandas as pd
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("PopDataCHARLOTTE.csv")
for i in df.index:
    df = df[df["date"] >= 2018]
df.loc[len(df.index)] = [2022, 897720] #census data for V2022 not included in original dataset found on datacommons, manually added from census website
df.index = [0, 1, 2, 3, 4]
df

   date  Population
0  2018      874187
1  2019      887928
2  2020      876747
3  2021      879709
4  2022      897720

In [3]:
#THIS CODE IS SLOW AS HECK, THEREFORE WILL NEVER BE UNCOMMENTED AGAIN BECAUSE IT DID ITS ONE JOB AND MADE AN OUTPUT CSV THATS A TENTH OF THE SIZE

#df2 = pd.read_csv("County Demographics -  Data Download Redesign_Migrated Data.csv")
#for i in range(len(df2)):
#    df2 = df2[df2["County"] == "Mecklenburg County"]
#    if i%5 == 0:
#        print(i)
#df2.to_csv("MecklenburgOnly.csv", encoding='utf-8', index=False)

In [4]:
df3 = pd.read_csv("MecklenburgOnly.csv")
df3["Week Ending"] = pd.to_datetime(df3["Week Ending"])
df3["Year"] = df3["Week Ending"].dt.year
df3_grouped = df3.groupby("Year").count()
df3_grouped = df3_grouped.reset_index()
df3_grouped.drop(3)

,Year,Age Group,County,Demographic,Ethnicity,Gender,Hispanic,Metric Type,Metrics Selection,Month of,Race,Week Ending,Cases,Deaths
0,2020.0,473,968,968,127,114,127,968,968,0,254,968,968,968
1,2021.0,582,1196,1196,156,146,156,1196,1196,0,312,1196,1196,1196
2,2022.0,597,1230,1230,159,156,159,1230,1230,0,318,1230,1230,1230

In [5]:
b1 = pd.read_csv("Births2019.csv")
for i in b1.index:
    b1 = b1[b1["COUNTY OF RESIDENCE:"] == "MECKLENBURG"]
b2 = pd.read_csv("Births2020.csv")
for i in b2.index:
    b2 = b2[b2["COUNTY OF RESIDENCE:"] == "MECKLENBURG"]
b3 = pd.read_csv("Births2021.csv")
for i in b3.index:
    b3 = b3[b3["COUNTY OF RESIDENCE:"] == "MECKLENBURG"]
b4 = pd.read_csv("Births2022.csv")
for i in b4.index:
    b4 = b4[b4["COUNTY OF RESIDENCE:"] == "MECKLENBURG"]
d1 = pd.read_csv("Deaths2019.csv")
for i in d1.index:
    d1 = d1[d1["COUNTY OF DEATH:"] == "MECKLENBURG"]
d2 = pd.read_csv("Deaths2020.csv")
for i in d2.index:
    d2 = d2[d2["COUNTY OF DEATH:"] == "MECKLENBURG"]
d3 = pd.read_csv("Deaths2021.csv")
for i in d3.index:
    d3 = d3[d3["COUNTY OF DEATH:"] == "MECKLENBURG"]
d4 = pd.read_csv("Deaths2022.csv")
for i in d4.index:
    d4 = d4[d4["COUNTY OF DEATH:"] == "MECKLENBURG"]

Year = [2019, 2020, 2021, 2022]

births = pd.concat([b1, b2, b3, b4], axis=0, ignore_index=True, sort=False)
deaths = pd.concat([d1, d2, d3, d4], axis=0, ignore_index=True, sort=False)
births.insert(1, "YEAR", Year, True)
deaths.insert(1, "YEAR", Year, True)
births.drop(births.columns[[3,4,5,6,7,8,9,10,11,12,13,14]], axis=1, inplace=True)
deaths.drop(deaths.columns[[3,4,5,6,7,8,9,10,11,12,13,14]], axis=1, inplace=True)
deaths

  COUNTY OF DEATH:  YEAR  TOTAL
0      MECKLENBURG  2019   8180
1      MECKLENBURG  2020   9319
2      MECKLENBURG  2021  10164
3      MECKLENBURG  2022   9428

In [6]:
deth = [int(deaths.loc[0, "TOTAL"]), int(deaths.loc[1, "TOTAL"]), int(deaths.loc[2, "TOTAL"]), int(deaths.loc[3, "TOTAL"])]
cvdth = [0, int(df3_grouped.loc[0, "Deaths"]), int(df3_grouped.loc[1, "Deaths"]), int(df3.loc[2, "Deaths"])]
lif = [int(births.loc[0, "TOTAL"]), int(births.loc[1, "TOTAL"]), int(births.loc[2, "TOTAL"]), int(births.loc[3, "TOTAL"])]
population = [int(df.loc[1, "Population"]), int(df.loc[2, "Population"]), int(df.loc[3, "Population"]), int(df.loc[4, "Population"])]
bd_delta = [lif[0] - deth[0], lif[1] - deth[1], lif[2] - deth[2], lif[3] - deth[3]]
pop_delta = [population[0] - int(df.loc[0, "Population"]), population[1] - population[0], population[2] - population[1], population[3] - population[2]]
pop_delta_mig = [pop_delta[0] - bd_delta[0], pop_delta[1] - bd_delta[1], pop_delta[2] - bd_delta[2], pop_delta[3] - bd_delta[3]]
dict = {"Year": Year, "Population": population, "Total Deaths": deth, "Total Births": lif, "BD Delta": bd_delta, "Total Population Delta": pop_delta,"Migratory Population Delta": pop_delta_mig}
big_boy_df = pd.DataFrame(dict)
big_boy_df

,Year,Population,Total Deaths,Total Births,BD Delta,Total Population Delta,Migratory Population Delta
0,2019,887928,8180,14398,6218,13741,7523
1,2020,876747,9319,14655,5336,-11181,-16517
2,2021,879709,10164,15061,4897,2962,-1935
3,2022,897720,9428,15038,5610,18011,12401

In [7]:
#sns.set_theme()
#f, ax = plt.subplots(figsize=(8,8))

#sns.set_color_codes("pastel")
#sns.barplot(x="Year", y="Total Population Delta", data=big_boy_df, label="Total Population Delta", color="r")

#sns.set_color_codes("muted")
#sns.barplot(x="Year", y="Migratory Population Delta", data=big_boy_df, label="Migratory Population Delta", color="r")

#ax.set(xlabel = "Year", ylabel = "People")